<div class="form-section">
    <form action="/login" method="POST" class="form-container">
    
        <h3 class="fs-1 text-center">login</h3>
        <label  class="form-item">
            <span>Login</span>
            <input type="text" name="login" class="form-input" >
        </label>

        <label  class="form-item">
            <span>Password</span>
            <input type="password" name="password"class="form-input" >
        </label>    

        <button type="submit" class="btn btn-primary btn-lg">login</button>
    
    </form>
</div>